:root{
  --first:#5b4834;
  --second: #aaa69d;
}
a{
  text-decoration: none;
}
body{
  /* background-color: #f9f9f9; */
  background-color: #f3f3f3;
}
.navbar{
  background-color: #fff !important;
  border-bottom: 1px #eaeaea solid ;
}
#sideArea{
  /* width: 15%; */
  background:var(--first) ;
  color: #fff;
  padding: 20px 0;
}
#sideArea h4{
  text-align: center;
  margin-bottom: 20px;
}
#sideArea ul{
  list-style:none;
  margin: 30px 0;
  padding: 0;
}
#sideArea ul li{
  background: var(--second);
  margin-bottom: 3px;
  padding: 5px;
  cursor: pointer;
}
#sideArea ul li a{
  color: #fff;
}
.second-menue li{
  cursor: pointer;
  background: #00000063 !important;
}
/*  */
/* Start */
.btn-add-categ{
  background-color: var(--first);
  color: #fff;
  width: 100px;
  padding: 5px 10px;
}
.btn-add-categ:hover{
  border: solid 3px var(--first);
}
.add-category{
  margin-top: 30px;
}




/* End */
/* Start Footer */
footer{
  background: #fff;
  border-top: 1px solid#eaeaea;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}
/* End Footer */