:root{
  --first:#5c2c9af4;
  --second: #e6a5f2a1;
}
a{
  text-decoration: none;
}
body{
  /* background-color: #f9f9f9; */
  background-color: #f3f3f3;
  /* background-color: red; */
}
.navbar{
  background-color: #fff !important;
  border-bottom: 1px #eaeaea solid ;
}
#sideArea{
  /* width: 15%; */
  background:var(--first) ;
  color: #fff;
  padding: 20px 0;
}
#sideArea h4{
  text-align: center;
  margin-bottom: 20px;
}
#sideArea ul{
  list-style:none;
  margin: 30px 0;
  padding: 0;
}
#sideArea ul li{
  background: var(--second);
  margin-bottom: 3px;
  padding: 5px;
  cursor: pointer;
}
#sideArea ul li a{
  color: #fff;
}
.second-menue li{
  cursor: pointer;
  background: #00000063 !important;
}
/*  */
/* Start */
.btn-add-categ{
  background-color: var(--first);
  color: #fff;
  width: 100px;
  padding: 5px 10px;
}
.btn-add-categ:hover{
  border: solid 3px var(--first);
}
.add-category{
  margin-top: 30px;
}
/* End */
/* Start table */
th{
  background: var(--first)!important;
  color: #fff;
}

/* End table */

/* Start Footer */
footer{
  background: #fff;
  border-top: 1px solid#eaeaea;
  padding: 10px 0;
  text-align: center;
  font-size: 20px;
}
/* End Footer */
/* STArt Posts */
.img-post{
  height: 100px;
  width: 200px;
}
/* End Posts */
/* Footer */
.btn-majd{
  color: var(--first);
  font-size: 20px;
  border: var(--first) 2px solid;
  border-radius: 10px;
  background-color: #fff;
  transition: all 0.7s;
  
}
.btn-majd:hover{
  color: #fff;
  background-color: var(--first);
  font-size: 26px;
  border: wheat 2px solid;

}
